%h1
  Love the Booch
.carousel
  %a.carousel-item{:href => "#one!"}
    %img{:src => "https://lorempixel.com/800/400/food/1"}/
  %a.carousel-item{:href => "#two!"}
    %img{:src => "https://lorempixel.com/800/400/food/2"}/
  %a.carousel-item{:href => "#three!"}
    %img{:src => "https://lorempixel.com/800/400/food/3"}/
  %a.carousel-item{:href => "#four!"}
    %img{:src => "https://lorempixel.com/800/400/food/4"}/
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch

