%h1
  Love the Booch
.carousel
  %a.carousel-item{:href => "#one!"}
    %img{:src => "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Centre_Le_Corbusier_-_%27Teich%27_-_Blatterwiese_2013-09-21_17-48-26.JPG/450px-Centre_Le_Corbusier_-_%27Teich%27_-_Blatterwiese_2013-09-21_17-48-26.JPG"}/
  %a.carousel-item{:href => "#two!"}
    %img{:src => "https://thespaces.com/wp-content/uploads/2016/12/Villa_Savoye_le-corbusier.jpg"}/
  %a.carousel-item{:href => "#three!"}
    %img{:src => "https://images.adsttc.com/media/images/55e8/90ca/46fe/9f75/3200/002c/newsletter/ronchamp-2.jpg?1441304748"}/
  %a.carousel-item{:href => "#four!"}
    %img{:src => "https://sitelecorbusier.com/wp-content/uploads/2016/08/le-corbusier-oeuvre-patrimoine-mondial-humanite-unesco-09.jpg"}/
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch
%div
  love the booch

