!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Sphexish
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar-fixed
      %nav.blue{:role => "navigation"}
        .nav-wrapper.container
          %a#logo-container.brand-logo{:href => "#"}
            .logo.center-block
          %ul.right.hide-on-med-and-down
            %li
              %a{:href => "#", :id => ""} Link
            %li
              %a{:href => "#", :id => ""} Link
            %li
              %a{:href => "#", :target => "_blank"} Link
            %li
              %a{:href => "#", :target => "_blank"} Link
          %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
            %i.material-icons menu
    %ul#nav-mobile.side-nav
      %li
        %a{:href => "#", :id => ""} Link
      %li
        %a{:href => "#", :id => ""} Link
      %li
        %a{:href => "#", :target => "_blank"} Link
      %li
        %a{:href => "#", :target => "_blank"} Link

    .container
      .row
        .col.s12
          / Page Content goes here
          = yield